
@{
	ViewData["Title"] = "Готово";
	Layout = "_Layout";
}

<div class="alert alert-success">Регистрация выполнена успешно.</div>
<a class="button button-outline-secondary" asp-controller="Home" asp-action="Index">На главную</a>