<nav class="nav flex-column nav-pills p-3">
    <a class="nav-link active" href="">Главная</a>
    <span class="mt-3 text-muted small">
        Пример обработки событий и валидации формы обратной связи.
    </span>
</nav>
