@page
@model KT3.Pages.Products.IndexModel

<h2>Product List</h2>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < 10; i++)//Model.Products
		{
			/*<tr>
				<td>@product.Id</td>
				<td>@product.Name</td>
				<td>@product.Price</td>
			</tr>*/

			<tr>
				<td>1</td>
				<td>df</td>
				<td>2032</td>
			</tr>
		}
	</tbody>
</table>