@page "/login"

<h1>Вход</h1>

<form method="post" action="/api/login">
    <div>
        <label>Имя пользователя</label><br />
        <input name="username" />
    </div>

    <div style="margin-top:8px;">
        <label>Пароль</label><br />
        <input type="password" name="password" />
    </div>

    <div style="margin-top:8px;">
        <button type="submit">Войти</button>
    </div>
</form>
