@page "/"
@using BlazorFormLab.Shared

<h1>Главная</h1>

<p>
    Демонстрация компонента <code>FormComponent</code>,
    который обрабатывает ввод имени, возраста и выбора пола,
    а также позволяет сбросить все поля к начальному состоянию.
</p>

<hr />

<FormComponent />
