@model Book
@{
    ViewData["Title"] = "Правка книги";
}
<h3>Изменить книгу</h3>
<form asp-action="Edit" method="post" class="mt-3">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AuthorId" class="form-label">Автор</label>
        <select asp-for="AuthorId" asp-items="ViewBag.Authors" class="form-select"></select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Year" class="form-label"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
